<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quyetthang.flutter_social_share">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.shekarmudaliyar.social_share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
